@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uxifjn');
  src:  url('fonts/icomoon.eot?uxifjn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uxifjn') format('truetype'),
    url('fonts/icomoon.woff?uxifjn') format('woff'),
    url('fonts/icomoon.svg?uxifjn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eyedropper:before {
  content: "\e90a";
}
.icon-bug:before {
  content: "\e999";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-omega:before {
  content: "\ea66";
}
.icon-sigma:before {
  content: "\ea67";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-tux:before {
  content: "\eabd";
}

.a{
  color: steelblue;
  font-size: 1.4em;
}

.b{
  color: green;
  font-style: oblique;
  font-size: 0.5em;
}

.c{
  color: hotpink;
  font-size: 1.5em;
  font-style: italic;
}

.d{
  color: red;
  font-size: 1.8em;
}

.e{
  color: purple;
  font-size: 25px;
}

.f{
  color: orange;
  font-size: 15px;
}

.g{
  color: blue;
  font-size: 20px;
}

.h{
  color: gold;
}

body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}